<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Movies </h1>
      <p class="text-white-50 h3">The present application consist of : <br><br>  </p> </div>
       <div class="mx-auto text-left">
         <ul class="text-white-50 h3">
        <li><B>List all movies :</B> you can visualize the database content and List all the movies<br></li><br>
      <li > <B> Add a new movie : </B>you have the possibility to add a new movie, just click on Movies list in the menu bar, then add new movie<br></li><br>
      <li> <B>Search a movie:</B> to search a movie , you'll need to go to list of movies, then customize your search, you can search a movie by title,
        director, releaseDate and type<br></li><br>
      <li> <B>Delete a movie : </B>in case you want to delete a movie all you have to do is to click on button delete after searching your movie<br></li><br>
      <li> <B>Update movie : </B>you can modify informations about a movie by clicking on edit button after
        searching your movie</li><br>
         </ul>
       </div>


 <!--     <ul class="list-group list-group-flush">
          <pre class="h5">List all movies from the database : in order to visualize the database content, manage movies in the movie bar
          then list of movies
        Add a new movie : if you want to add a new movie, you need to go to manage movies then add new movie
          Searching a specific movie: to search a movie , you'll need to go to list of movies .. then customize your search
          Delete a movie : in case you want to delete a movie all you have to do is to click on button
          delete after searching your movie
          Update movie : you can modify information about a movie by clicking on edit button after
        searching your movie
        </pre>
      </ul>-->

  </div>
</header>
